div.block.block-error {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #a94442;
  padding: 15px !important;
  border: 1px solid transparent;
  border-radius: 5px;
}

div.block.block-error .icon {
  color: #a94442;
}

.text-center {
  text-align: center;
}

.login-screen-content .list,
.login-screen-content .block {
  margin: 5px auto !important;
}

.bounce-enter-active {
  animation: bounce-in .5s;
}
.bounce-leave-active {
  animation: bounce-in .5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.navbar .right .login {
  font-size: 0.75em;
}
